---

---

<header class="bg-slate-900 py-5 text-white sm:py-8">
  <nav class="caixola flex items-center justify-between">
    <a
      class='flex items-center text-lg font-medium text-white'
      href='/'
      aria-label='Possama'
    >
      POSSAMA
    </a>


    <!-- Desktop navigation items -->
    <ul class="hidden space-x-5 sm:flex sm:items-center">
      <li>
        <a href="/" class="text-gray-400 hover:text-white">Home</a>
      </li>
      <li>
        <a href="/sobre" class="text-gray-400 hover:text-white">Sobre</a>
      </li>
      <li>
        <a href="/blog" class="text-gray-400 hover:text-white">Blog</a>
      </li>
    </ul>

    <ul class='hidden h-8 w-[172px] items-center justify-end gap-5 sm:flex'>
      <li class=''>
        <a href='' class='text-gray-400 hover:text-white'>Login</a>
      </li>
      <li>
        <a          
          class='flex h-8 w-28 cursor-pointer items-center justify-center rounded-full bg-gradient-to-r from-blue-500 to-blue-700 px-4 py-2 text-sm font-medium text-white hover:from-blue-500 hover:to-blue-600'
          href='/'
        >
          <span>Sign Up</span>
        </a>
      </li>
    </ul>

  </nav>
</header>