---
import Layout from '../layouts/Layout.astro';



---

  <Layout title="Possama.">
    <div>
      <main>
        <h2 class="mb-2 bg-gradient-to-b from-purple-400 to-purple-500 bg-clip-text text-2xl font-bold text-transparent sm:mb-4 sm:text-5xl">Conteúdo original para você ser mais feliz e bem sucedido, com uma vida que faça sentido.</h2>

        <div class="item c1 bg-[#9F79B1] col-span-4 p-16">
          <div>
            <p>pré venda</p>
            <h2 class="mb-2 bg-gradient-to-b from-purple-400 to-purple-500 bg-clip-text text-2xl font-bold text-transparent sm:mb-4 sm:text-5xl">Conteúdo original para você ser mais feliz e bem sucedido, com uma vida que faça sentido.</h2>
            <div class="conteudo">
              <p>Ler ou assistir sobre tudo nem sempre é o melhor caminho. O que você precisa é acessar o conteúdo certo para ter um impacto positivo na sua vida.</p>
              <p>A internet é cheia de retalhos de informações, onde há muito conteúdo desordenado, e por isso você quase não encontra informações condensadas numa ideia consistente e útil.</p>
              <p>A maioria dos publicadores de conteúdos apenas replicam informações, ou trazem coisas que amanhã serão descartadas, e a ideia deste blog é trazer o que há de melhor com um toque original, e que possa ser aproveitado por um tempo maior.         </p>
            </div>
          </div>
        </div>



      </main>
    </div>
</Layout>



<style lang="" is:global>
        html {
          font-family: Alice, system-ui, sans-serif;
        }
        h1, h2, h3, h4, h5, h6 {
          font-family: Poppins, system-ui, sans-serif;
        }
</style>