---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import BlocksHome from '../components/BlocksHome.astro';
import ListPostsBlog from '../components/ListPostsBlog.astro';


---
<Layout title="Possama.">
    <div class='bg-gradient-to-b from-slate-900 to-black'>
      <main>
        <BlocksHome />
        <h1 class=""> Titulo 1</h1>
        <h2 class=""> Titulo 2</h2>
        <div>Conteudo</div>
      </main>
    </div>
</Layout>


