---

---

<section class="relative py-10 sm:py-14">
  <div class="caixola box text-[#F3F5F8] flex-1 gap-10">
    <div class="item c1 bg-[#9F79B1] p-12 sm:p-16">
      <div>
        <p class="text-2xl sm:text-3xl text-[#324A6D] font-bold">[PRÉ VENDA]</p>
        <h1 class="my-5 sm:my-6 text-[#F3F5F8] text-5xl font-bold sm:text-7xl">Conteúdo original para você ser mais feliz e bem sucedido, com uma vida que faça sentido.</h1>
        <div class="conteudo my-5 sm:my-8 sm:w-2/5">
          <p class="mb-4">Ler ou assistir sobre tudo nem sempre é o melhor caminho. O que você precisa é acessar o conteúdo certo para ter um impacto positivo na sua vida.</p>
          <p class="mb-4">A internet é cheia de retalhos de informações, onde há muito conteúdo desordenado, e por isso você quase não encontra informações condensadas numa ideia consistente e útil.</p>
          <p class="mb-4">A maioria dos publicadores de conteúdos apenas replicam informações, ou trazem coisas que amanhã serão descartadas, e a ideia deste blog é trazer o que há de melhor com um toque original, e que possa ser aproveitado por um tempo maior.         </p>
        </div>
        <a href="#_" class="text-xl mt-10 rounded relative inline-flex group items-center justify-center px-3.5 py-2 m-1 cursor-pointer border-b-4 border-l-2 active:border-purple-600 active:shadow-none shadow-lg bg-gradient-to-tr from-purple-600 to-purple-500 border-purple-700 text-white">
          <span class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-32 group-hover:h-32 opacity-10"></span>
          <span class="relative">Acesse o Blog</span>
        </a>
      </div>
    </div>
    <div class="item c2 bg-[#5EB7A4] p-12 sm:p-16">
      <h2 class="mb-4 sm:mb-4 text-[#F3F5F8] text-2xl font-bold sm:text-4xl">Branding e posicionamento de marca para empreendedores</h2>
      <div class="conteudo">
        <p>Uma marca forte é a principal conexão entre negócios e clientes. A nossa agência de branding tem remodelado e aumentado o valor de dezenas de marcas. Será que a sua marca será a próxima?</p>
      </div>
      <a href="#_" class="text-xl mt-10 rounded relative inline-flex group items-center justify-center px-3.5 py-2 m-1 cursor-pointer border-b-4 border-l-2 active:border-purple-600 active:shadow-none shadow-lg bg-gradient-to-tr from-purple-600 to-purple-500 border-purple-700 text-white">
        <span class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-32 group-hover:h-32 opacity-10"></span>
        <span class="relative">Acesse o Blog</span>
      </a>
    </div>
    <div class="item c3 bg-[#757DC9] p-12 sm:p-16">
      <h2 class="mb-4 sm:mb-4 text-[#F3F5F8] text-2xl font-bold sm:text-4xl">Email Marketing: ganhe dinheiro disparando emails.</h2>      
      <div class="conteudo">
        <p>Não deixe sua lista parada. Venda mais sem gastar a mais por isso.</p>
      </div>
      <a href="#_" class="text-xl mt-10 rounded relative inline-flex group items-center justify-center px-3.5 py-2 m-1 cursor-pointer border-b-4 border-l-2 active:border-purple-600 active:shadow-none shadow-lg bg-gradient-to-tr from-purple-600 to-purple-500 border-purple-700 text-white">
        <span class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-32 group-hover:h-32 opacity-10"></span>
        <span class="relative">Acesse o Blog</span>
      </a>
    </div>
    <div class="item c4 bg-[#EB7C60] p-12 sm:p-16">
      <h2 class="mb-4 sm:mb-4 text-[#F3F5F8] text-2xl font-bold sm:text-4xl">Censura na internet - O pior pode acontecer</h2>
      <div class="conteudo">
        <p>A Web 3.0 e os dados abertos podem blindar qualquer cidadão do mundo contra a censura. Mas será que os governos vão deixar?</p>
      </div>
      <a href="#_" class="text-xl mt-10 rounded relative inline-flex group items-center justify-center px-3.5 py-2 m-1 cursor-pointer border-b-4 border-l-2 active:border-purple-600 active:shadow-none shadow-lg bg-gradient-to-tr from-purple-600 to-purple-500 border-purple-700 text-white">
        <span class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-32 group-hover:h-32 opacity-10"></span>
        <span class="relative">Acesse o Blog</span>
      </a>
    </div>
    <div class="item c5 bg-[#537683] p-12 sm:p-16">
      <h2 class="mb-4 sm:mb-4 text-[#F3F5F8] text-2xl font-bold sm:text-4xl">Novo Formato de Notícias</h2>
      <div class="conteudo">
        <p>Uma nova proposta para redigir e consumir notícias.</p>
      </div>
      <a href="#_" class="text-xl mt-10 rounded relative inline-flex group items-center justify-center px-3.5 py-2 m-1 cursor-pointer border-b-4 border-l-2 active:border-purple-600 active:shadow-none shadow-lg bg-gradient-to-tr from-purple-600 to-purple-500 border-purple-700 text-white">
        <span class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-32 group-hover:h-32 opacity-10"></span>
        <span class="relative">Acesse o Blog</span>
      </a>
    </div>
    <div class="item c6 bg-[#81CADA] p-12 sm:p-16">
      <h2 class="mb-4 sm:mb-4 text-[#F3F5F8] text-2xl font-bold sm:text-4xl">Quem é Possama?</h2>
      <div class="conteudo">
        <p>Conheça um pouco sobre mim.</p>
      </div>
      <a href="#_" class="text-xl mt-10 rounded relative inline-flex group items-center justify-center px-3.5 py-2 m-1 cursor-pointer border-b-4 border-l-2 active:border-purple-600 active:shadow-none shadow-lg bg-gradient-to-tr from-purple-600 to-purple-500 border-purple-700 text-white">
        <span class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-32 group-hover:h-32 opacity-10"></span>
        <span class="relative">Acesse o Blog</span>
      </a>
    </div>
  </div>
</section>